*~
.tmp_*
/library/ZendX
/library/Zend
/logs/*
/application/configs/application.ini
/application/configs/routes.*
/application/layouts/scripts/frontend.phtml
/public/skins/frontend/
/public/upload/*
/public/_data/frontend/
.idea
/tests/log/report
