



body {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size: 12pt;
	color: #222222;
	background-color: #FFFFFF;
}

h1 {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	color: #FF6600;
	font-size: 12pt;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

h2 {
	font-size: 11pt;
	text-transform: uppercase;
	color: #FF6600;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

h3 {
	font-size: 11pt;
	color: #FF6600;
	margin-top: 10px;
	margin-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px;
}

h4, h5, h6 {
	font-size: 10pt;
	color: #FF6600;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

/* параграфы */
p {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size: 9pt;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	color: #222222;
	text-align: justify;
}

p.faqq {
	margin-left: 10px;
	margin-right: 10px;
}

p.faqa {
	font-style: italic;
	margin-left: 50px;
	margin-right: 10px;
}

p.newstitle {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 8px;
	text-transform: uppercase;
}

p.news {
	padding-left: 5px;	
}

/* copyrights */

p.bottomlinks {
	font-size: 7pt;
	color: #C11010;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
	vertical-align: bottom;
}

p.bottomlinks a {
	color: #C11010;
}

p.copyright_bottom   {
	font-size: 7pt;
	padding-left: 20px;
	color: #C11010;
	text-align: right;
	margin: 3px; 
	padding:0px;
}

p.copyright_bottom a {
	color: #C11010;
	text-decoration: none;
}

p.copyright {
	font-size: 7pt;
	color: #FFFFFF;
	margin: 0px; 
	padding-left: 16px;
}

p.copyright a {
	color: #FFFFFF;
	text-decoration: none;
}

/* / copyrights */

p.comment {
	text-align: justify;
   font-style: italic;
	font-size: 8pt;
	margin-bottom:20px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 20px;
}

p.title {
	color: #FFFFFF;
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size: 13pt; 
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	margin-right: 30px;
/*	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;*/
}

p.submenu {
	color:#FFFFFF;
	font-weight: bold;
	text-align: left;
	margin: 0px;
}

p.submenu a {
	color: #FFFFFF;
}

p.submenu1 {
	color: #0056A9;
	font-weight: bold;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

p.submenu1 a {
	color: #0056A9;
}

/* таблицы */

td {
	font-size: 9pt;
}

td.fp_news {
	padding-left: 25px;
	padding-top: 15px;
	color: #FFFFFF;
}

table.formatted {
	font-size: 9pt;
	margin-top: 20px;
	margin-bottom: 20px;
/*	margin-right: 20px;
	margin-left: 20px;
	width: 90%;*/
	color: #FFFFFF;
	border: 1px #D4E0EF;
}

table.formatted th {
	background-color: #007CBD;
	font-weight: bolder;
	text-align: left;	
	color: #FFFFFF;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;	
	vertical-align: top;
	}

table.formatted td, tr.dark td {
	color: #0056A9;
	padding-bottom: 1px;
	padding-top: 1px;
	padding-left: 4px;
	padding-right: 4px;
	vertical-align: top;
}

table.formatted tr.dark {
	background-color: #F0F4F9;
}

table.formatted td.dark {
	background-color: #F0F4F9;
}

table.formatted td.errormessage {
	background-color: #FF6600;
	color: #FFFFFF;
}

/* простые и нумерованные списки */

ul.fp {
	margin: 5px;
	padding: 0px;
}

ul.fp li {
	text-align: center;
	font-size: 10pt;
	color: #0056A9;
	text-transform: uppercase;
	font-weight: bold;
}

ul, ol {
	color: #222222;
	font-size: 9pt;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 40px;
}

ol li, ul li {
	color: #222222;
	font-size: 9pt;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: justify;
}

ol.comment li, ul.comment li {
	text-align: justify;
   font-style: italic;
	font-size: 8pt;
	margin-bottom:3px;
	margin-top: 3px;
	margin-left: 30px;
	margin-right: 10px;
}

/* Ёлементы управлени€  */
input {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size: 8pt;
	color: #222222;
	background-color: #D4E0EF;
	border-width: 1px;
	border-color: #0056A9;
}

input.text {
	width: 100%;
}

select {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	font-size: 8pt;
	color: #222222;
	background-color: #D4E0EF;
	width: 78%;
}

input.button {
	width: 100px;
	text-align: center;
	border-style: outset;
	border-width: 1px;
	font-weight: bold;
	color: #FF6600;
	background-color: #D4E0EF;
}

textarea {
	font-family: Verdana, Arial,  Helvetica, sans-serif;
	width: 100%;
	height: 100px;

	color: #222222;
	background-color: #D4E0EF;

	border-left-style: solid;
	border-width: 1pt;
	border-color: #0056A9;
	font-size: 8pt;
}

a {
	text-decoration: underline;
}

a.mainmenu {
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #0056A9;
}

a.mainmenu:hover {
	color: #FF6600;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

hr {
	color: #D4E0EF;
	height: 1px;
}

/* выравнивание */
#left {
	text-align: left;
}

#center {
	text-align: center;
}

#justify {
	text-align: justify;
}

#right {
	text-align: right;
}

a:link {
	text-decoration: none;
}
 a:visited {
		text-decoration: none;
}
 a:hover{
	text-decoration: none;
}

a.razdel {
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #66CC66;
}

a.razdel:hover {
	color: #FF6600;
}
