{% extends '::base.html.twig' %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Symphonia</b></a>
        </div>
        <div class="login-box-body">
            <h3 class="login-box-msg">Password recovery</h3>
            <p>Password recovery instructions were sent to email <strong>{{ email }}</strong>.</p>
        </div>
    </div>
{% endblock %}